<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_Project_Herexamen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_Project_Herexamen.styles.css" asp-append-version="true" />
</head>
<body>
    @if (!(ViewContext.RouteData.Values["page"]?.ToString().Contains("Login") ?? false) &&
    !(ViewContext.RouteData.Values["page"]?.ToString().Contains("Register") ?? false))
    {
        <div class="container-fluid">
            <div class="row">
                <!-- Sidenav -->
                <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Home")">
                                    <span data-feather="home"></span>
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="collapse" href="#purchaseSubMenu" role="button" aria-expanded="false" aria-controls="purchaseSubMenu">
                                    <span data-feather="shopping-cart"></span>
                                    Aankopen
                                </a>
                                <div class="collapse" id="purchaseSubMenu">
                                    <ul class="nav flex-column ms-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Create", "Purchase")">
                                                Nieuwe Aankoop Aanvragen
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Index", "Purchase")">
                                                Mijn Aankopen
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Index", "Archive")">
                                                Archief
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Notifications")">
                                    <span data-feather="bell"></span>
                                    Meldingen
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Subject")">
                                    <span data-feather="book"></span>
                                    Vakken beheren
                                </a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>


                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">@ViewData["Title"]</h1>
                    </div>
                    @RenderBody()
                </main>
            </div>
        </div>
    }
    else
    {
        <!-- Als het de Login of Register pagina is -->
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }

    <footer class="footer text-muted ">
        <div class="container text-center">
            &copy; 2024 - MVC_Project_Herexamen - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
